* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: rgba(223, 230, 233, 0.5);
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 13% 7% 80%;
}

.header {
  /* grid-area: 1/1 / span 1 / span 8; */
  grid-area: 1/1 / span 1 / span 4;
  margin-bottom: 2px;
}

.header h1 {
  color: green;
  font-size: xxx-large;
}
.header > a {
  font-size: large;
  text-decoration: none;
  color: black;
  text-align: center;
}

.topnavbar {
  background-color: rgba(45, 52, 54, 1);
  /* grid-area: 2/1 / span 1 / span 8; */
  grid-area: 2/1 / span 1 / span 4;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.topnavbar a {
  display: block;
  background-color: rgba(45, 52, 54, 1);
  text-decoration: none;
  padding: 10px;
  height: 100%;
  float: left;
  text-align: center;
  color: white;
  font-size: large;
}
.topnavbar > a:hover {
  background-color: darkcyan;
}
.middlearea {
  grid-area: 3/1 / span 2 / span 4;
  background-color: lightsteelblue;
  padding: 30px;
}
.gallery {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 20%;
  grid-template-rows: auto auto auto auto auto;
  justify-content: space-evenly;
  row-gap: 5px;
}
.cardone {
  grid-area: 1/1 / span 1 / span 1;
}
.cardtwo {
  grid-area: 2/1 / span 1 / span 1;
}
.cardthree {
  grid-area: 3/1 / span 1 / span 1;
}
.cardfour {
  grid-area: 4/1 / span 1 / span 1;
}
.cardfive {
  grid-area: 5/1 / span 1 / span 1;
}
.product {
  text-align: center;
}
.product > a {
  display: block;
  background-color: lightcyan;
  padding: 3px;
  text-decoration: none;
  color: black;
  margin-bottom: 3px;
  border-radius: 15px;
  font-size: x-large;
}
.product > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: ;
}
.product > p {
  text-align: center;
}

.contacts {
  position: fixed;
  margin-top: 10px;
  top: 20%;
  right: 5%;
}
.contacts > a {
  display: block;
  text-decoration: none;
  padding: 10px;
  font-size: xx-large;
  color: white;
  margin-bottom: 5px;
}
.contacts > a > img {
  max-width: 50%;
}
